@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
 background-color:black;
  background-repeat:no-repeat;
  background-size:cover;
  font-family: 'Source Code Pro', monospace;
  scroll-behavior: smooth; 
}
*{
  padding:0px;
  margin:0px;
}

.hr{
  border-top: 4px solid #00FF19;
  margin-top:50px;
}

.swiper-button-next::after{
 color: #00FF19;
}
.swiper-button-prev::after{
  color: #00FF19;
 }
